// AddSub.vm
// calculates  x = (a + b) - x
//   a → local 0
//   b → local 1
//   x → static 0

function AddSub.calc 0   // <-- VM function header

    push local 0         // a
    push local 1         // b
    add                  // a + b

    push static 0        // x
    sub                  // (a + b) - x

    pop  static 0        // store result back in x
    return
