// Function: Fib.fib
// Calculates the nth Fibonacci number recursively
function Fib.fib 0

// if n == 0 return 0
push argument 0
push constant 0
eq
if-goto BASE_CASE_0

// if n == 1 return 1
push argument 0
push constant 1
eq
if-goto BASE_CASE_1

// Fib(n-1)
push argument 0
push constant 1
sub
call Fib.fib 1    // returns Fib(n-1)

// Save Fib(n-1) on stack

// Fib(n-2)
push argument 0
push constant 2
sub
call Fib.fib 1    // returns Fib(n-2)

// At this point:
// Top of stack: Fib(n-2)
// Below it: Fib(n-1)

add             // Fib(n-1) + Fib(n-2)
return

label BASE_CASE_0
push constant 0
return

label BASE_CASE_1
push constant 1
return
